<h1>投稿が完了しました</h1>
<%= link_to 'トップページに戻る', "/" %>

<%# link_toメソッドの記述方法はリンク先としてURLを用意している %>
<%# link_toメソッドでURLを使った場合はHTTPメソッドをつける必要がない %>
<%# リンクとなる文字が トップページに戻る となる %>
<%# rails routesで確認するとトップページに遷移するためのURLは/である %>
<%# /というURL でリクエストを送るとリクエストはそのURLに対応するコントローラーのアクションに進む %>
<%# そしてそのアクションに対応するビューファイルが表示され 投稿した内容が反映されている %>
