.post{
  border: 1px solid;
/* 投稿内容と投稿時間の周りに一本線の枠線をつけている */
  width: 40%;
/* postの親要素はブラウザになる */
/* ブラウザの横幅の4割の横幅になるように調整している */
  margin-top: 30px;
/* 枠線の外側の上側に30pxの余白をあけている */
/* 投稿物との間に空間を開けることがで見やすくなる */
}

.post-date{
  color: gray;
}
